/*To block out PIN type=text*/
@font-face {
    font-family: 'password';
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
  }
#newSecretPIN, #reenterSecretPIN {
    font-family: 'password';
    -webkit-text-security: disc;
}
