
<!DOCTYPE html>

<!--

http://iudcalc/
http://nodesimplified.com/how-to-display-charts-in-the-modal-popup-using-angularjs-and-chart-js/

Try merge the UPSI bar to the datetimepicker
https://eonasdan.github.io/bootstrap-datetimepicker/
https://stackoverflow.com/questions/16573624/get-the-value-of-bootstrap-datetimepicker-in-javascript

Cleaner code:
https://www.makeuseof.com/tag/10-tips-writing-cleaner-better-code/
https://google.github.io/styleguide/javascriptguide.xml

Multiple Apps in one Angularjs project
https://www.codeproject.com/Articles/862602/Define-Multiple-Angular-Apps-In-One-Page

angularjs App Structure Good Luck!

Start rootApp (Injects both apps to allow you have multiple apps)
**
firstApp
End firstApp
**
secondApp
End secondApp
**

End rootApp

-->
<head>

  <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="angular-material.min.css">


<!--link rel="stylesheet" href="style.css"-->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href='style.css' />

</head>
<body ng-app="rootApp" ng-controller='rootCon' >


  <div class="container">



<div class="container-fluid">


<section ng-app="firstApp" >




 <!--p >Todays Date = {{ today | date }}</p-->

<div class='row'>

<div class='slidecontainer col-md-offset-1 col-md-10' >
  <h2>Test</h2>
<h3>First UPSI Since LMP</h3>
<br>
Choose Date of the UPSI



</div>

</div><!--End row-->

<form name="myForm" ng-controller="hourController" >

<div class="row">
  <div class="col-md-offset-2 col-md-8 ">
      <br>

<div class="row">

<div class='col-sm-8'>
  <div class="form-group">
    <div class='input-group date' id='datetimepicker1'>
      <input id='dateInput' type='text' class="form-control" placeholder="Pick a date" />

      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>
<h5 class='DateChosen'></h5>
<div class='hourRes'>
<h4>


  <input id='hourz' type='number'hidden><br>
<span id='daysAgo'>
</span><br>
<span id='hoursAgo'>
</span><br>
<span id='hoursplus120'></span><br>


</h4>

<h3 class='hourMsg'>Under 120 Hours since UPSI - <span>Okay for PCIUD</span></h3>
</div>


</div>


      <hr>




<!--After first condition-->

</div>
</div><!--End row-->



<div >

</form>
</section><!--End firstApp-->

<section id='secondApp' ng-app="secondApp" >
<form name="secForm" ng-controller="hourController" >

  <div id='prangeC' ng-controller='prangeController' class='row'>
  <div id='totalcycle' class="col-md-offset-3 col-md-6" >


    <h4>*Over 120 Hours since UPSI</h4>
    <h3>IUD Calculator Available</h3>
   <h4> Shortest usual period cycle</h4>
  <label for="fullc">Between 21 to 42</label>
<input id='fullc'  placeholder="Cycle"
name="input" type="number" ng-model="totalcycle" min="21" max="42" ng-click="addDays1();"  required><br>
<br/>


<span ng-if='secForm.input.$valid'><h4>HOW LONG IS YOUR MENSTRUAL CYCLE ? <u>{{totalcycle}} Days long </u></h4></span>
<!--span>Min:{{min}}</span>
Max:<span>{{max}}</span-->

<div id='alertanderrors'>

<div role="alert">
    <span class="error" ng-show="secForm.totalcycle.$error.required">
      Required!</span>
    <span class="error" ng-show="secForm.totalcycle.$error.number">
      Not valid number!</span>
  </div>


<div class='errors'>

<span ng-if='!!secForm.$error.required'>
<h4>Please enter a number</h4>
</span>

<span ng-if='secForm.input.$error.min'><h4>Cycle Length is too Low</h4></span>
<span ng-if='secForm.input.$error.max'><h4>Cycle Length is too high</h4></span>

</div>
  <!--tt>myForm.$valid = {{myForm.$valid}}</tt><br/-->


</div>






   <hr>

<span ng-if='secForm.input.$valid'>
   <md-content  ng-controller="AppCtrl as ctrl"  layout-padding layout-margin>

<h4>When did your last period start?<br><b> {{ctrl.myDate | date}} </b></h4>
     <md-datepicker ng-model="ctrl.myDate" ng-change="ctrl.onDateChanged();"
                    md-placeholder="Pick date"></md-datepicker><br>

                    <!--div class="categoryWrapper">
                      <h1>Bathrooms</h1>
                      <button>
                        <span>
                          <span>
                            <span data-attr-span="See the Range">
                              See the Range
                            </span>
                          </span>
                        </span>
                      </button>
                    </div-->


<span ng-if ='ctrl.periodDateTrue' >
  <br>
  <h3>Results!</h3>
<div class='results categoryWrapper'>

<br>
  1st Day Ovulation: {{ctrl.firstOv | date:shortDate}} <br>
  Your last day for IUD: {{ctrl.iudLast | date:shortDate}} <br>
  Your next Period Date : {{ctrl.Date | date:shortDate}} <br>
<br>
<br>
<!--Fix this!-->
<button>
  <span>
    <span>

<span id='iudValid' ng-if='ctrl.IUDright == null 'data-attr-span='Still Time for an IUD'> Still Time for an IUD </span>
<span id='iudValid' ng-if='ctrl.IUDright == true' data-attr-span='LAST Day for an IUD'> LAST Day for an IUD </span>
<span id='iudInvalid' ng-if='ctrl.IUDright == false' data-attr-span='Its too late for an IUD'>Its too late for an IUD</span>

</span>
</span>
</button>



</div>
</span>
 <button id='cleard' ng-click='ctrl.clearDate();'  >Clear Date</button>

   </md-content>



    </span><!--ng-if myForm.input.$valid-->


  </><!--End of secondApp-->

</span>



</div><!--End of totalcycle-->
</div><!--End of prangeController and row-->


<br>







</div><!--End condition -->


</form><!--End secForm -->



</div>



</section><!--End secondApp-->
</div><!--End Container-->

<script>

function validateIudMessagetest() {
var wang = true;

return wang;

}
//alert('Wang is ' + validateIudMessagetest());
</script>

<script
src="https://code.jquery.com/jquery-2.2.4.js"
integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.js"></script>


<script src="angular-material.min.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<!--script src="components.js"></script-->
<script defer src="app.js" ></script>



    </body>
  </html>
