
   
  
  
extends layout

block content
  
  
  h1= title

  
  ul
   li
    a(href='/') Home
   li
    a(href='/about') About
   
  
  section
   div
    p Welcome to #{title}
   
   
  footer #{title}
